/* Setup full page */
@import url('https: //fonts.googleapis.com/css?family=Grand Hotel');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

*,
div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 13px;
  line-height: 18px;
  background: #fafafa;
  color: #000;
  font-family: 'Grand Hotel', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

div{
  display: block;
}

li{
  list-style: none;
}

/*Setup Page*/

@media only screen and (max-width: 2250px) {
  
}

.widget-section {
  width: 100% !important;
  height: 300px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  background: #fafafa;
}

.widget-element {
  position: absolute;
  z-index: 1;
}

.widget-element .widget-content {
  text-rendering: unset !important;
  width: 100%;
  height: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline-block;
  letter-spacing: 0;
}

.container {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* Setup selection*/
/* HEADING */
#SECTION1 {
  background-image: url(image/Header.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: initial;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 972px;
}

#IMAGE2{
  top: 30px;
  left: -200px;
  width: 180px;
  height: 36px;
}

#IMAGE2 > .widget-content {
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
}

.LOGO3 {
  background-image: url(image/LOGO.png);
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

#GROUP4{
  top: 30px;
  left: 555px;
  padding: 0px 0px 0px 0px;
  width: 600px;
  height: 35px;
}

.list{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  text-transform: bold;
  text-align: left;
  color: #fafafa;
}

.list > li {
  display: inline-block;
  justify-content: space-between;
}

#HEADING5 {
  top: 200px;
  left: 400px;
  padding: 0px 0px 0px 0px;
  width: 394px;
  height: 64px;
}

#HEADING5 > .widget-content {
  font-family: 'Grand Hotel';
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(239, 255, 11,1);
  font-size: 80px;
  text-align: center;
}

#CONTENT6 {
  top: 295px;
  left: 460px;
  padding: 0px 0px 0px 0px;
  width: 450px;
  height: 100px;
}

#CONTENT6 > .widget-content {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  text-align: left;
  line-height: initial;
}

#BUTTON7 {
  border: none;
  cursor: pointer;
  top: 420px;
  left: 460px;
  padding: 0px 0px 0px 0px;
  width: 230px;
  height: 45px;
}

#BUTTON7 > .widget-content {
  font-family: sans-serif;
  background-color: rgb(247, 243, 15);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

#SEARCH8 {
  top: 13px;
  left: 1128px;
  padding: 0px 0px 0px 0px;
  width: 50px;
  height: 50px;
}

#SEARCH8 > .widget-content {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

form.widget-content button {
  float: left;
  width: 60px;
  padding: 10px;
  background: none;
  color: rgba(255, 255, 255,1);
  font-size: 24px;
  border: none;
  border-left: none;
  cursor: pointer;
}

/* BODY 1 */

#SECTION2 {
  background-image: none;
  background-color: rgba(255, 255, 255, 0);
  background-size: initial;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 970px;
}

#SECTION2 > .container {
  background-color: #f7f7f7e5;
  width: 1440px;
}

#HEADING9 {
  top: 200px;
  left: 525px;
  padding: 0px 0px 0px 0px;
  width: 394px;
  height: 64px;
}

#HEADING9 > .widget-content {
  font-family: 'Grand Hotel';
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 80px;
  text-align: center;
}

#CONTENT10 {
  top: 260px;
  left: 360px;
  padding: 0px 0px 0px 0px;
  width: 675px;
  height: 40px;
}

#CONTENT10 > .widget-content {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  text-align: center;
}

/* GROUP 11 (13-15)*/

#GROUP11 {
  top: 380px;
  left: 120px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 350px;
}

#HEADING13 {
  top: 270px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 20px;
}

#HEADING13 > .widget-content {
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  text-align: center;
}

#CONTENT14 {
  top: 300px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 40px;
}

#CONTENT14 > .widget-content {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

#IMAGE15{
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 250px;
}

#IMAGE15 > .widget-content {
  background-image: url(image/dish_1.png);
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  background-origin: content-box;
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* GROUP 16 (17-19) */
#GROUP16 {
  top: 380px;
  left: 580px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 350px;
}

#HEADING17 {
  top: 270px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 20px;
}

#HEADING17>.widget-content {
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  text-align: center;
}

#CONTENT18 {
  top: 300px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 40px;
}

#CONTENT18>.widget-content {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

#IMAGE19 {
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 250px;
}

#IMAGE19>.widget-content {
  background-image: url(image/dish_2.png);
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  background-origin: content-box;
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* GROUP 20 (21-23)*/
#GROUP20 {
  top: 380px;
  left: 1024px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 350px;
}

#HEADING21 {
  top: 270px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 20px;
}

#HEADING21>.widget-content {
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  text-align: center;
}

#CONTENT22 {
  top: 300px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 40px;
}

#CONTENT22>.widget-content {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

#IMAGE23 {
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: 250px;
}

#IMAGE23>.widget-content {
  background-image: url(image/dish_3.png);
  background-color: rgba(255, 255, 255, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  background-origin: content-box;
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* Body 2*/
#SECTION3 {
  background-image: url(image/Body.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: initial;
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 2240px;
}


